.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.inner {
    margin: 0 auto;
    width: 90%;
    max-width: 425px;
    background-color: #ffffff;
}

.inner-section {
    width: 90%;
    margin: 30px auto;
}

* {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1 {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0;
    font-size: 16px;
}
h2{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 16px;
    font-weight: bold;
}

div.wrapper {
    padding: 2px 0;
    background-color: #BBE1E8;
}

.header {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #FFFFFF;
}
.header .logo {
    height: 5opx;
    /*width: 30%;*/
    margin: auto 0;
}
.header .logo img {
    height: 50px;
    /*width: 100%;*/
}

.header .header-icon img {
    height: 20px;
    margin: 15px 5px;
}

.footer {
    margin: 10px auto 0 auto;
}
.footer p {
    vertical-align: middle;
    font-size: 12px;
    padding: 0 0 10px 0;
    margin: 0;
}
.footer p.kyosan {
    padding-left: 3em;
    text-indent: -3em;
}
.footer img {
    height: 20px;
    padding: 0 5px;
}
.footer .kyosan img {
    padding: 0 10px 0 5px;
}
.footer .kyosan span {
    padding: 0 5px;
}
.footer span.member {
    padding: 0 3px;
    font-size: 80%;
}

.tweet {
    float: right;
    padding: 5px;
}



table.list {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border: none;
    font-size: 10px;
    border: solid 1px #FFF;
}
table.list th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: none;
    border-radius: 10px;
    background-color: #DDD;
    padding: 5px;
}
table.list td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border: none;
    border-radius: 10px;
    background-color: #EEE;
    padding: 5px;
}

/***********************
   Countdown
 ***********************/
.countdown {
    margin: 10px auto;
}
.countdown p {
    text-align: center;
    border-top: solid 2px #7acce7;
    border-bottom: solid 2px #7acce7;
    color: #333;
}
.countdown span#countdown_day {
    font-size: 135%;
    font-weight: bold;
    color: #FF2020;
    padding: 0 5px;
}

/***********************
   Twitter
 ***********************/
.twitter {
}
.twitter img{
    height: 40px;
}

/***********************
   Instagram
 ***********************/
.instagram {
}
.instagram img{
    height: 40px;
}

/***********************
   Key Visual
 ***********************/

.keyvisual {
    position: relative;
}
.keyvisual img{
    width: 100%;
}
.keyvisual-copyright {
    font-size: 10px;
    color: #FFFFFF;
    line-height: 10px;
    margin: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/***********************
   Admin message
 ***********************/
.admin-message {
    margin: 10px auto;
}
.admin-message h2{
    width: calc(50% - 10px);
    padding: 0px;
    margin: 0 5px;
    font-size: 12px;
    color: #777;
}
.admin-message p{
    padding: 0px;
    margin: 0 2px 0 5px;
    font-size: 12px;
    color: #333;
}
.admin-message .koshitter {
    /*height: 40px;*/
    width: 50%;
}
.admin-message .admin-avator {
    width: 40px;
    max-width: 20%;
    border-radius: 50%;
    margin: auto 15px auto 5px;
    float: left;
}

.balloon {
	position: relative;
	display: inline-block;
	padding: 0 5px;
    width: calc(80% - 27px);
    min-height: 34px;
    vertical-align: center;
    height: auto;
    margin: 1px 0;
	color: #19283C;
    font-size: 12px;
	text-align: left;
	background: #FFF;
	border: 2px solid #BBE1E8;
    border-radius: 10px;
	z-index: 0;
}
.balloon:before {
	content: "";
	position: absolute;
	top: 50%; left: -10px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #BBE1E8 transparent transparent;
	z-index: 0;
}

/***********************
   Store list button
 ***********************/
.storelist-btn {
    width: 90%;
    margin: 30px auto;
    height: 100px;
}
.storelist-btn img {
    height: 100px;
    width: 100px;
    border-radius: 10px 0 0 10px;
    float: left;
}
.storelist-btn div {
    height: 74px;
    line-height: 74px;
    width: calc(100% - 120px);
    padding: 13px 10px;
    background-color: #7acce7;
    border-radius: 0 10px 10px 0;
    font-size: 6.5vw;
    text-align: center;
    color: #FFF;
    float: left;
    display: table-cell;
    vertical-align: middle;
}
@media screen and (min-width:700px) {
    .storelist-btn div {
        font-size: 45.5px;
    }
}
/***********************
   Map
 ***********************/
.map {
    width: 90%;
    margin: 30px auto;
}
.map img {
    width: 100%;
}

/***********************
   Caution
 ***********************/
.caution {
    width: 100%;
}
.caution img {
    width: 100%;
}

/***********************
   Store
 ***********************/
.store {
    margin: 5px 0;
}

.store .store-img {
    width: 70px;
    height: 70px;
}
.store .store-img img {
    /*width: 100%;*/
    width: 70px;
    height: 70px;
}

.store .store-desc {
    width: calc(80% - 70px);
    margin: 0;
    height: 70px;
    position: relative;
}
.store .store-desc h3 {
    font-size: 12px;
    padding: 0 0 0 3px;
    margin: 1px 0;
    position: relative;
    z-index: 100;
}
.store .store-desc p {
    font-size: 10px;
    padding: 0 0 0 6px;
    margin: 1px 0;
    position: relative;
    z-index: 100;
}
.store .store-desc div.gauge {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffc0cd;
    height: 70px;
    width: calc(80% - 70px);
    z-index: 10;
}

.store .store-oiri {
    width: 20%;
}
.store .store-oiri img {
    /*width: 90%;*/
    height: 50px;
    padding: 0;
    margin: 0 auto;
}
.store .store-oiri p {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    background-color: #f01100;
    color: #ffffff;
    font-weight: bold;
    margin: -4px auto 0 auto;
    text-align: center;
    width: 35px;
}


.store-balloon {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: calc(100% - 40px);
    height: auto;
    color: #555555;
    line-height: 20px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #BBE1E8;
    border-radius: 50px;
    z-index: 0;
    font-size: 12px;
    margin: 3px;
}
.store-balloon:before {
	content: "";
	position: absolute;
	top: -17px; left: 15px;
	margin-right: 0;
	display: block;
	width: 10px;
	height: 10px;
    background: #ffffff;
	border: 1px solid #BBE1E8;
	border-radius: 50%;
	z-index: -1;
}
.store-balloon:after {
	content: "";
	position: absolute;
	top: -25px; left: 25px;
	margin-right: 0;
	display: block;
	width: 5px;
	height: 5px;
    background: #ffffff;
	border: 1px solid #BBE1E8;
	border-radius: 50%;
	z-index: -1;
}

h2.accordion {
    border-top: solid 3px #BBE1E8;
    border-bottom: solid 3px #BBE1E8;
    color: #202020;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 10px 5px 2em;
    text-indent: -1em;
    transition: all 300ms 0s ease;
}
h2.accordion.active {
    border-bottom: solid 1px #BBE1E8;
}
h2.accordion::before {
    content: '\f101';
    font-family: 'FontAwesome';
    padding-right: 8px;
    color: #BBE1E8;
}
h2.accordion.active::before {
    content: '\f103';
    padding-right: 7px;
}
h2.accordion img {
    height: 15px;
}
div.accordion_item {
    border-bottom: solid 3px #BBE1E8;
}
