.ifrm-container {
    width:100%;//320px;
    height:100%;//450px;
    overflow:auto;
    position: fixed;
    -webkit-overflow-scrolling:touch;
}
.ifrm {
    width:100%;
    height:100%;
    border:none;
}

h2 {
    text-align: center;
}

.about {
    text-align: center;
}
.about h2,
.about h3 {
    margin: 10px 0 5px 0;
    /*padding: 5px;*/
}
.about div.about-desc {
    width: 375px;
    background-image: url(./../img/koshigoe_image.jpg);
    background-size: cover;
    color: #eee;
    padding: 5px 10px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}
.about div.about-desc p{
    text-shadow: 1px 1px 2px #224;
    font-family: serif;
    font-size: 12px;
}
.price h3 {
    font-size: 14px;
}
.price table {
    margin: 10px auto;
    font-size: 14px;
    width: 200px;
    border-collapse: separate;
    border-spacing: 3px;
}
.price table th {
    background-color: #96c3e8;
    color: #f0f0f0;
    width: 100px;
    padding: 1px;
    border-radius: 2px;
    /*border: solid 1px #ddd;*/
}
.price table td {
    background-color: #f3f3f3;
    width: 100px;
    padding: 3px;
    border-radius: 2px;
    /*border: solid 1px #ddd;*/
}

.store-btn {
    width: 200px;
    margin: 20px auto 5px auto;
    /*background-color: #ddd;*/
    padding: 5px;
    border: solid 2px #ddd;
    border-radius: 2px;
}
.store-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    /*width: 375px;*/
}
.store-btn img {
    margin: 0;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
}
.store-btn p {
    margin: 0;
    height: 40px;
    line-height: 40px;
}

.ticket-btn {
    margin: 30px auto;
    text-align: center;
    padding: 10px 0;
    border-top: solid 5px #ddd;
    border-bottom: solid 5px #ddd;
}
.ticket-btn a {
    display: inline-block;
    width: calc(45% - 40px);
    padding: 10px;
    text-decoration: none;
}
.ticket-btn p {
    margin: 0;
}
.ticket-btn p.top.sat {
    color: #f0f0f0;
    background-color: #6eadbb;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
}
.ticket-btn p.top.sun {
    color: #f0f0f0;
    background-color: #a03030;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
}
.ticket-btn p.bottom {
    color: #151515;
    background-color: #f7f7f7;
    border-radius: 0 0 3px 3px;
    font-size: 50px;
}
.ticket-btn p.rest {
    color: #151515;
    font-size: 12px;
}
.ticket-btn p.rest span {
    font-size: 16px;
    color: #FF2020;
    font-weight: bold;
    padding: 0 2px;
}

.ticket-btn div {
    margin: 0;
    padding: 0;
    width: 100%;
}
.ticket-btn img {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.ticket-btn h2 {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
    margin: 0 10px;
    font-weight: normal;
}

.ticket-btn .caution {
    font-size: 10px;
    color: #444;
}

.ticket-btn h3 {
    font-size: 14px;
    font-weight: bold;
}

.facebook a {
    display: flex;

    padding: 5px;
    border: 1px solid #3b5998;
    background-color: #3b5998;

    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.facebook img {
    flex-grow: 0;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
}

.facebook .text p:first-child {
    margin-top: 0;
    margin-bottom: 5px;
}

.facebook .text p:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

.facebook div.text {
    margin-left: 30px;
}
