/***********************
   Countdown
 ***********************/
.countdown {
  margin: 10px auto;
}
.countdown p {
  text-align: center;
  border-top: solid 2px #7acce7;
  border-bottom: solid 2px #7acce7;
  color: #333;
}
.countdown span#countdown_day {
  font-size: 135%;
  font-weight: bold;
  color: #FF2020;
  padding: 0 5px;
}
