.about {
  text-align: center;

  h2, h3 {
    margin: 10px 0 5px 0;
  }

  div.about-desc {
    width: 375px;
    background-image: url(../img/koshigoe_image.jpg);
    background-size: cover;
    color: #eee;
    padding: 5px 10px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100px;

    p {
      text-shadow: 1px 1px 2px #224;
      font-family: serif;
      font-size: 12px;
    }
  }
}
